fastapi
pydantic
python-dotenv
python-multipart
uvicorn
langchain-core
langchain-community
langchain-text-splitters
openai-agents
faiss-cpu
pypdf
sqlalchemy
psycopg2-binary
pyJWT
bcrypt
email-validator
langchain-huggingface 
sentence-transformers
httpx
